<%- include('partials/header'); -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="top">
      <article>
        <svg
          width="673"
          height="116"
          viewBox="0 0 673 116"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 35.7998L7.42792 28.1656L53.6461 66.7495L7.42792 105.333L0 97.768L37.4835 66.8871L0 35.7998Z"
            fill="white"
          />
          <path
            d="M159.736 77.3412C159.736 81.6512 158.888 85.4798 157.191 88.827C155.541 92.1283 153.156 94.9252 150.038 97.2178C146.966 99.5103 143.23 101.253 138.828 102.445C134.472 103.637 129.612 104.233 124.247 104.233H100.725V14.3414H126.448C146.485 14.3414 156.504 21.6318 156.504 36.2125C156.504 41.0727 155.334 45.2452 152.996 48.7299C150.703 52.2146 146.944 54.8052 141.716 56.5017C144.147 56.9603 146.439 57.7397 148.594 58.8402C150.795 59.9406 152.721 61.362 154.371 63.1043C156.022 64.8467 157.329 66.91 158.292 69.2943C159.255 71.6785 159.736 74.3608 159.736 77.3412ZM143.78 37.8632C143.78 36.0291 143.505 34.3097 142.954 32.7049C142.404 31.0542 141.441 29.6558 140.066 28.5095C138.69 27.3173 136.833 26.3774 134.495 25.6896C132.156 25.0018 129.199 24.658 125.623 24.658H112.968V52.7878H125.21C128.007 52.7878 130.529 52.4897 132.775 51.8937C135.068 51.2976 137.017 50.3806 138.621 49.1426C140.272 47.9046 141.533 46.3686 142.404 44.5345C143.321 42.6546 143.78 40.4308 143.78 37.8632ZM146.737 77.7538C146.737 75.4613 146.256 73.398 145.293 71.5639C144.33 69.7299 142.932 68.1938 141.097 66.9558C139.263 65.672 137.017 64.6862 134.357 63.9984C131.744 63.3107 128.786 62.9668 125.485 62.9668H112.968V93.9165H125.898C132.913 93.9165 138.14 92.6097 141.579 89.9962C145.018 87.3826 146.737 83.3019 146.737 77.7538Z"
            fill="white"
          />
          <path
            d="M262.123 104.233H248.299L234.887 75.4842C233.879 73.2833 232.847 71.4722 231.792 70.0508C230.738 68.5836 229.592 67.4373 228.354 66.612C227.161 65.7408 225.832 65.1218 224.364 64.755C222.943 64.3882 221.338 64.2048 219.55 64.2048H213.773V104.233H201.53V14.3414H225.602C230.83 14.3414 235.323 14.9145 239.083 16.0608C242.843 17.2071 245.915 18.8119 248.299 20.8752C250.729 22.9385 252.494 25.4374 253.595 28.3719C254.741 31.2606 255.314 34.4702 255.314 38.0007C255.314 40.7976 254.901 43.457 254.076 45.9788C253.251 48.4548 252.013 50.7245 250.362 52.7878C248.757 54.8052 246.74 56.5705 244.31 58.0836C241.926 59.5508 239.174 60.6513 236.057 61.3849C238.578 62.2561 240.71 63.7921 242.453 65.993C244.241 68.148 246.052 71.0366 247.886 74.6589L262.123 104.233ZM242.522 39.0324C242.522 34.218 241.008 30.6186 237.982 28.2344C235.002 25.8501 230.784 24.658 225.327 24.658H213.773V54.3696H223.677C226.565 54.3696 229.156 54.0487 231.449 53.4068C233.787 52.719 235.759 51.7332 237.363 50.4494C239.014 49.1197 240.275 47.5149 241.146 45.635C242.063 43.7092 242.522 41.5083 242.522 39.0324Z"
            fill="white"
          />
          <path
            d="M367.261 14.3414L334.73 72.1141V104.233H322.35V71.839L289.818 14.3414H304.605L322.487 47.2168L329.09 60.422L335.142 48.4548L353.231 14.3414H367.261Z"
            fill="white"
          />
          <path
            d="M461.326 24.7955H434.709V104.233H422.33V24.7955H395.713V14.3414H461.326V24.7955Z"
            fill="white"
          />
          <path
            d="M554.703 104.233H503.602V14.3414H554.703V24.658H515.844V52.5127H553.19V62.8292H515.844V93.7789H554.703V104.233Z"
            fill="white"
          />
          <rect x="594.121" width="78.879" height="115.501" fill="white" />
        </svg>
        <p>
          A platform for the <br />
          development community. <br />
          For Developers. <br />
          For Clients.
        </p>
      </article>
    </div>
    <div id="section2">
      <div id="content">
        <p id="line1">A PLATFORM WHERE</p>
        <p id="line2">DEVELOPERS</p>
        <p id="line3">CAN SHOWCASE THEIR PROJECTS</p>
        <p class="text">
          Portfolios with customizability enabling users to collect thier
          projects, work experience, and achievements all in one place.
        </p>
        <div id="icons">
          <span class="icon" id="PP"
            ><img class="PP0000"
              src="Morph Animations\PP\PP0000.png"
              alt=""
            /><span id="info">Post Projects</span></span
          >
          <span class="icon" id="VYS"
            ><img class="VYS0000"
              src="Morph Animations\VYS\VYS0000.png"
              alt=""
            /><span id="info">Get Reviewed</span></span
          >
          <span class="icon" id="AFW"
            ><img class="AFW0000"
              src="Morph Animations\AFW\AFW0000.png"
              alt=""
            /><span id="info">Apply for Work</span></span
          >
        </div>
      </div>
    </div>
    <div id="section3">
      <div id="projectsList">
        <% for(x in projects) { %>
          <a href="/project/<%= projects[x].PRO_ID %>">
        <div class="ProjectInst">
            <img
            src="<%= projects[x].PRO_Thumbnail%>"
            class="ListMainPic"
            alt=""
          />
          <div class="details">
            <div class="project-head">
              <img class="project-avatar" src="assets/logo.jpg" />
              <div class="projecter-cont">
                <div class="project-title"><%= projects[x].PRO_Name %></div>
                <div style="font-family: sans-serif">
                  <span>
                    <%= projects[x].PRO_Rate %>
                    <svg
                      width="17"
                      height="15"
                      viewBox="0 0 17 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8.55193 6.10352e-05L10.3652 5.52793H16.2331L11.4859 8.94433L13.2992 14.4722L8.55193 11.0558L3.8047 14.4722L5.61798 8.94433L0.870754 5.52793H6.73865L8.55193 6.10352e-05Z"
                        fill="#4B90F7"
                      />
                    </svg>
                  </span> <% if(projects[x].developers[0].DEV_Fname){ %>
                  <span 
                    >| by:<a href="" style="color: #66a3ff"><%= projects[x].developers[0].DEV_Fname %> <%= projects[x].developers[0].DEV_Lname %> </a></span
                  > <% } %>
                </div> 
              </div>
              <div>
                <div class="project-date"><%= projects[x].PRO_End_Date %></div>
                <div class="icons">
                  <div class="ProFields">
                    <% for(y in projects[x].categories) { %>
                      <img class="cat" src="..\assets\Fields\<%= projects[x].categories[y].PRO_CAT_Field%>.png" alt="">
                  <% } %>

                  </div>
                  <div class="ProSkills">
                    <% for(y in projects[x].categories) { %>
                      <img class="cat" src="..\assets\Skills\<%= projects[x].categories[y].PRO_CAT_Skill%>.png" alt="">                     
                  <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class="project-tail">
              <%= projects[x].PRO_Description %>
            </div>
          </div>
        </div>
        
        </a>
        <% } %>
      </div>
      <div id="ProRight">
        <div id="toBeAdded"></div>
        <div id="Intro">
          <p class="line1">BRYTE'S FEATURED</p>
          <p class="line2">PROJECTS</p>
        </div>
      </div>
    </div>

    <div id="section4">
      <div class="container">
        <div id="col1">
          <p class="line1">MORE</p>
          <p class="line2">THAN JUST A PORTFOLIO</p>
          <p id="contestinfo">
            Develeopers can explore projects, join teams, practice, earn money
            and MORE.
          </p>
          <a class="Button" href="/signup">Sign up now!</a>
        </div>
        <div id="col2">
          <div id="row1">
            <div>
                <img class="JT0000"
              src="Morph Animations\JT\JT0000.png"
              alt=""
            />
              <p>Join Teams</p>
            </div>
            <div>
                <img class="VYS0000"
                src="Morph Animations\VYS\VYS0000.png"
                alt=""
              />
              <p>Verify your skills</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="section5">
      <div id="content">
        <p id="line1">A PLATFORM WHERE</p>
        <p id="line2">CLIENTS</p>
        <p id="line3">CAN HIRE THE BEST</p>
        <p class="text">
          Portfolios with customizability enabling users to collect thier
          projects, work experience, and achievements all in one place.
        </p>
        <div id="icons">
          <span id="icon"
            ><img class="VYS0000"
            src="Morph Animations\VYSVYS0000.png"
            alt=""
          /><span id="info">Explore Projects & Portfolios</span></span
          >
          <span id="icon"
            ><img class="PP0000"
            src="Morph Animations\PP\PP0000.png"
            alt=""
          /><span id="info">Post bids & pick the right developer</span></span
          >
          <span id="icon"
            ><img class="AFW0000"
            src="Morph Animations\AFW\AFW0000.png"
            alt=""
          />
            <span id="info">Organize Competitions</span></span
          >
        </div>
      </div>
    </div>

    <div id="section6" class="container">
      <div id="title">
        <span id="part1"
          >BRYTE'S
          <p>TOP</p></span
        ><span id="part2">CLIENTS</span>
      </div>
      <div id="company">
        <svg
          width="149"
          height="136"
          viewBox="0 0 149 136"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_d)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4 4H53.0312L4 123.508V4ZM86.4333 4H136.077V121.973L86.4333 4ZM70.2941 49.6964L97.3641 121.361H80.6112L69.0681 98.6671H50.6814L70.2941 49.6964Z"
              fill="#515B6A"
            />
          </g>
          <defs>
            <filter
              id="filter0_d"
              x="0"
              y="0"
              width="148.077"
              height="135.508"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="4" dy="4" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <svg
          width="165"
          height="137"
          viewBox="0 0 165 137"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter1_d)">
            <path
              d="M151.643 71.3804C150.775 65.2405 148.658 59.4179 145.351 54.076C142.466 49.414 138.765 45.2676 134.348 41.7435L134.359 41.7325L87.9626 5.9243C87.9292 5.89471 87.8943 5.86683 87.8581 5.84077C86.3155 4.65337 84.227 4 81.9795 4C79.7291 4 77.5589 4.65482 75.8719 5.84456C74.0579 7.11782 73.0211 8.80725 72.9487 10.6055C72.8823 12.2833 73.6788 13.8977 75.1973 15.1561C78.1834 17.5236 81.1628 19.9427 84.1462 22.3647C87.0416 24.7162 90.0251 27.1379 92.994 29.4955L36.1654 29.4568C29.6665 29.4568 25.2413 32.5234 24.331 37.6575C23.931 39.9063 24.6368 42.3789 26.2147 44.2726C27.8887 46.2801 30.3193 47.3875 33.0583 47.3875L37.3905 47.3904C43.3754 47.3904 49.3866 47.3756 55.3897 47.361L61.1145 47.3476L9.53767 85.6904L9.3329 85.8409C6.45198 88.0597 4.56593 91.1705 4.15901 94.3751C3.85055 96.8029 4.41417 99.0214 5.78961 100.793C7.4289 102.905 9.98833 104.067 12.997 104.067C15.9526 104.067 18.9685 102.942 21.4929 100.893L49.3452 77.9886C49.2262 79.107 49.0816 80.7478 49.0981 81.9387C49.1294 83.8243 49.7318 87.6077 50.6856 90.6793C52.6562 96.9917 55.9756 102.767 60.5512 107.839C65.312 113.116 71.1104 117.3 77.784 120.273C84.8393 123.408 92.4238 125 100.327 125H100.401C108.33 124.981 115.938 123.364 123.016 120.192C129.701 117.185 135.497 112.984 140.239 107.708C144.809 102.61 148.124 96.8247 150.091 90.5175C151.064 87.3952 151.687 84.1737 151.949 80.9126C152.192 77.7607 152.088 74.5535 151.643 71.3804ZM100.905 101.636C83.4867 101.636 69.3616 88.9389 69.3616 73.2756C69.3616 57.6141 83.487 44.9172 100.905 44.9172C118.324 44.9172 132.448 57.6141 132.448 73.2756C132.448 88.9389 118.324 101.636 100.905 101.636ZM119.096 70.7835C119.353 75.4583 117.494 79.7991 114.231 83.0123C110.912 86.2859 106.175 88.342 100.879 88.342C95.5842 88.342 90.8467 86.2859 87.5262 83.0123C84.2644 79.7991 82.4099 75.4589 82.6653 70.7873C82.9156 66.2463 85.1199 62.238 88.4402 59.3998C91.7052 56.6091 96.0893 54.9066 100.878 54.9066C105.668 54.9066 110.051 56.6097 113.316 59.3998C116.638 62.238 118.843 66.2434 119.096 70.7835Z"
              fill="#515B6A"
            />
          </g>
          <defs>
            <filter
              id="filter1_d"
              x="0.0768433"
              y="0"
              width="164"
              height="137"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="4" dy="4" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <svg
          width="135"
          height="138"
          viewBox="0 0 135 138"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter2_d)">
            <path
              d="M122.758 65.8972C122.758 60.9185 122.354 57.2854 121.48 53.5178H64.6286V75.989H97.999C97.3265 81.5734 93.6934 89.9834 85.6197 95.6345L85.5065 96.3869L103.482 110.312L104.727 110.436C116.165 99.8734 122.758 84.3317 122.758 65.8972Z"
              fill="#515B6A"
            />
            <path
              d="M64.6285 125.103C80.9773 125.103 94.7022 119.721 104.727 110.437L85.6197 95.6347C80.5065 99.2005 73.6438 101.69 64.6285 101.69C48.6161 101.69 35.0257 91.1273 30.1811 76.5276L29.471 76.5879L10.78 91.053L10.5355 91.7325C20.4928 111.513 40.9459 125.103 64.6285 125.103Z"
              fill="#515B6A"
            />
            <path
              d="M30.1811 76.5278C28.9028 72.7602 28.163 68.7231 28.163 64.552C28.163 60.3804 28.9028 56.3437 30.1139 52.5761L30.08 51.7737L11.1547 37.0762L10.5355 37.3707C6.43166 45.5789 4.07684 54.7964 4.07684 64.552C4.07684 74.3075 6.43166 83.5245 10.5355 91.7327L30.1811 76.5278Z"
              fill="#515B6A"
            />
            <path
              d="M64.6286 27.4132C75.9986 27.4132 83.6684 32.3246 88.0417 36.4289L105.131 19.7434C94.6354 9.98792 80.9773 4 64.6286 4C40.9459 4 20.4928 17.5904 10.5355 37.3705L30.1138 52.5759C35.0257 37.9762 48.6161 27.4132 64.6286 27.4132Z"
              fill="#515B6A"
            />
          </g>
          <defs>
            <filter
              id="filter2_d"
              x="0.0768433"
              y="0"
              width="134.681"
              height="137.103"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="4" dy="4" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <svg
          width="137"
          height="135"
          viewBox="0 0 137 135"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter3_d)">
            <path
              d="M64.7582 4C31.674 4 4.75824 30.6915 4.75824 63.5002C4.75824 96.3089 31.674 123 64.7582 123C97.8425 123 124.758 96.3089 124.758 63.5002C124.758 30.6915 97.8425 4 64.7582 4ZM64.7582 115.294C35.9589 115.294 12.5295 92.0591 12.5295 63.5002C12.5295 34.9408 35.959 11.7064 64.7582 11.7064C93.557 11.7064 116.987 34.9409 116.987 63.5002C116.987 92.059 93.5571 115.294 64.7582 115.294ZM73.5983 43.4668H44.0812L39.6028 50.604H69.0857L73.5983 43.4668ZM79.6304 43.5349L61.5859 72.0278H41.5705L46.1882 64.8846H58.1846L62.767 57.7447H35.0337L30.4521 64.8846H37.0222L27.9065 79.1464H65.9488L79.9999 57.1719L85.1232 64.8845H80.5036L76.1286 72.0278H89.8085L94.5587 79.1464H103.285L79.6304 43.5349Z"
              fill="#515B6A"
            />
          </g>
          <defs>
            <filter
              id="filter3_d"
              x="0.75824"
              y="0"
              width="136"
              height="135"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="4" dy="4" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <svg
          width="249"
          height="36"
          viewBox="0 0 249 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M125.156 11.5774C125.307 8.65894 126.35 6.27359 127.979 4.4126V1.93386H125.814C121.436 1.93386 117.731 3.61781 115.577 7.42152H115.451V2.35217H104.223V33.2658H115.453V20.7861C115.453 15.4891 116.997 11.4509 123.229 11.4509C123.907 11.4558 124.542 11.4947 125.156 11.5774ZM210.177 11.4645C211.11 8.73239 212.622 6.29889 214.589 4.34645V1.93143H212.427C208.048 1.93143 204.347 3.6144 202.181 7.41665H202.06V2.35217H190.825V33.2658H202.06V20.7861C202.06 15.4891 203.609 11.4509 209.84 11.4509L210.177 11.4645ZM147.961 10.3054C146.229 9.40168 143.817 8.79902 141.9 8.79902C140.611 8.79902 138.386 9.33699 138.386 10.9081C138.386 13.0191 141.9 13.3182 143.453 13.6266C148.687 14.6481 152.647 17.0607 152.647 22.7779C152.647 30.9106 145.055 34.296 137.706 34.296C133.198 34.296 128.764 33.0289 124.931 30.738L129.004 23.0795C131.284 24.6525 135.111 26.2139 137.889 26.2139C139.31 26.2139 141.407 25.5538 141.407 23.866C141.407 21.4554 137.889 21.3289 134.366 20.4271C130.853 19.5233 127.34 17.8399 127.34 12.2948C127.34 4.70055 134.366 1.3312 141.292 1.3312C144.872 1.3312 148.454 1.87112 151.718 3.31818L147.961 10.3054H147.961ZM248.266 33.2658H237.036V29.8269H236.912C234.937 32.9 231.041 34.2844 227.345 34.2844C217.958 34.2844 211.359 26.6303 211.359 17.7708C211.359 8.92063 217.84 1.32391 227.218 1.32391C230.858 1.32391 234.69 2.64888 237.034 5.35817V2.35217H248.261L248.266 33.2658H248.266ZM222.963 17.8375C222.963 21.7521 225.621 24.7654 230.182 24.7654C234.748 24.7654 237.394 21.7569 237.394 17.8375C237.394 14.0406 234.748 10.8478 230.182 10.8478C225.621 10.8507 222.963 14.0406 222.963 17.8375ZM189.054 19.6498H165.411C165.411 24.1053 167.824 26.513 172.45 26.513C174.857 26.513 176.583 25.7333 177.82 23.6821H188.623C186.834 30.9748 179.734 34.2892 172.515 34.2892C162.03 34.2892 154.192 28.5 154.192 17.8399C154.192 7.53631 161.404 1.3312 171.71 1.3312C182.694 1.3312 189.059 7.96192 189.059 18.5024L189.054 19.6503L189.054 19.6498ZM178.622 13.3182C178.065 10.3653 175.288 8.43762 172.267 8.43762C168.992 8.43762 166.288 10.1191 165.598 13.3182H178.622ZM68.5043 17.2995C68.4921 17.0354 68.4753 16.7716 68.4539 16.5081V16.4989C68.2019 13.631 67.2577 10.947 65.6559 8.52274C64.9503 7.4542 64.1295 6.46699 63.2083 5.579C61.872 4.28856 60.325 3.22138 58.5811 2.37747C55.9571 1.11962 53.0578 0.484854 49.9641 0.484854C49.6617 0.484854 49.3452 0.489232 49.0268 0.500905C46.8545 0.599646 44.7529 1.01358 42.7774 1.7427C40.7854 2.46502 39.0508 3.41935 37.6321 4.56484C37.3438 4.79491 37.0297 5.07752 36.6928 5.38833L36.4495 5.62716L36.1175 5.98126H36.1219L35.9663 6.13545L35.8907 6.21814L35.4943 6.63694C35.2086 6.95937 34.9305 7.28843 34.6601 7.62386L34.6577 7.619L34.648 7.60976C34.1052 8.27224 33.6035 8.95759 33.2342 9.57387C32.983 9.97196 32.7402 10.3753 32.5058 10.7836L29.2677 17.3549L29.272 17.3593L29.1024 17.693L28.7447 18.4197C28.0347 19.8619 27.2737 21.2992 26.4231 22.4861C24.5281 24.5718 22.3858 25.5932 19.6309 25.5932C19.438 25.5932 19.2413 25.5835 19.0396 25.5723C17.3801 25.5057 15.9571 25.1127 14.6946 24.3626C14.5614 24.2837 14.4305 24.201 14.302 24.1145C13.2711 23.4268 12.4806 22.5435 11.8893 21.4417C11.2224 20.1926 10.9267 18.9163 10.9684 17.5641C10.9703 17.5271 10.9728 17.495 10.9728 17.4649C11.0619 15.3125 11.8801 13.6378 13.528 12.1912C13.9203 11.8537 14.3413 11.5513 14.7862 11.2875C14.8477 11.2505 14.9098 11.216 14.9718 11.1839C16.1956 10.5146 17.589 10.1814 19.186 10.1814L19.6833 10.195C22.2205 10.2918 24.1777 11.0876 25.7383 12.6397L30.6335 3.81967C29.462 3.03314 28.1398 2.35655 26.6824 1.80691C26.6272 1.78648 26.57 1.76313 26.5128 1.74514C26.3383 1.68288 26.1667 1.61867 25.9879 1.56079C24.4389 1.0413 22.8138 0.721735 21.1412 0.576785C21.0995 0.569489 21.0539 0.565111 21.0127 0.560734C20.7559 0.544196 20.4946 0.512093 20.2382 0.500905C19.9593 0.490191 19.6803 0.484029 19.4012 0.482422H19.2427C16.1651 0.493609 13.3055 1.12643 10.6902 2.37941C7.76133 3.79632 5.38692 5.85966 3.62708 8.51788C1.87208 11.1776 0.913883 14.1286 0.776721 17.2956C0.764934 17.5638 0.758794 17.8322 0.758304 18.1006C0.75588 22.5293 2.36499 26.4255 5.56383 29.6961C8.90321 33.1277 13.2459 34.977 18.4595 35.1954C18.7939 35.209 19.1245 35.2183 19.454 35.2183C22.4037 35.2183 25.1329 34.6915 27.5805 33.6384C28.1927 33.3758 28.7864 33.0679 29.3932 32.7254C29.7237 32.5343 30.0354 32.3319 30.3446 32.116L30.5739 31.9618L30.9587 31.6972C31.4182 31.3632 31.8582 31.003 32.2765 30.6183L32.4234 30.4782C32.6718 30.2433 32.9147 30.0024 33.1518 29.7559L34.0296 28.7602L34.364 28.339L34.5201 28.1094L34.6761 27.8837C35.9799 25.6852 40.2242 17.6838 40.2242 17.6838V17.6677L40.4762 17.1798L40.687 16.798C41.3127 15.6549 41.7645 14.8431 42.3625 13.99L42.3785 13.9647C43.7744 11.9339 46.1735 10.4869 49.0016 10.2437C53.7455 9.8341 57.9026 12.9617 58.2855 17.2304C58.6659 21.4991 55.1273 25.2917 50.3834 25.7036C49.3956 25.7888 48.4355 25.7221 47.5301 25.5217L47.5073 25.5315C44.0264 24.8043 41.81 22.256 40.7171 21.1173L36.1515 29.5419C36.1515 29.5419 37.5706 30.9773 38.5424 31.6947C39.5165 32.4097 40.7743 33.1141 41.778 33.5509C44.214 34.5952 46.8632 35.2207 49.7897 35.2207C50.1289 35.2207 50.0606 35.2207 50.4134 35.2071C55.6222 34.9882 60.2654 32.9852 63.6139 29.5536C66.7856 26.2946 68.5067 22.5736 68.5227 18.1687V18.0374C68.5199 17.7913 68.5138 17.5454 68.5043 17.2995ZM85.9675 34.3101C83.5999 34.3101 81.4528 34.0339 79.5252 33.4818C77.5977 32.9297 75.9522 32.0581 74.5889 30.8625C73.2206 29.6659 72.1665 28.1435 71.424 26.2971C70.6814 24.4502 70.3102 22.2239 70.3102 19.6294V2.34536H81.1431V19.4912C81.1431 21.4349 81.6059 22.8426 82.5292 23.721C83.4554 24.6014 84.6313 25.0412 86.0567 25.0412C87.5141 25.0412 88.6967 24.6316 89.6093 23.8105C90.5166 22.9895 90.9746 21.628 90.9746 19.7145V2.34488H101.808V19.4017C101.808 22.0882 101.428 24.3719 100.669 26.2509C99.91 28.1323 98.8399 29.6688 97.4625 30.8644C96.0782 32.061 94.4124 32.9297 92.4529 33.4842C90.4934 34.0339 88.3322 34.3097 85.9675 34.3097V34.3101Z"
            fill="#515B6A"
          />
        </svg>
        <br />
        <svg
          width="132"
          height="132"
          viewBox="0 0 132 132"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M62.7247 62.6662H0.0584717V0H62.7247V62.6662Z"
            fill="#515B6A"
          />
          <path
            d="M131.922 62.6662H69.2504V0H131.917V62.6662H131.922Z"
            fill="#515B6A"
          />
          <path
            d="M62.7247 131.884H0.0584717V69.218H62.7247V131.884Z"
            fill="#515B6A"
          />
          <path
            d="M131.922 131.884H69.2504V69.218H131.917V131.884H131.922Z"
            fill="#515B6A"
          />
        </svg>
        <svg
          width="165"
          height="114"
          viewBox="0 0 165 114"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter4_d)">
            <path
              d="M60.1019 33.1167V24.3165C60.9734 24.2622 61.845 24.2079 62.7165 24.2079C86.902 23.4474 102.753 44.959 102.753 44.959C102.753 44.959 85.6491 68.6434 67.2921 68.6434C64.8409 68.6434 62.4441 68.2632 60.1563 67.5027V40.7761C69.58 41.9169 71.4865 46.0454 77.0971 55.4431L89.6801 44.9046C89.6801 44.9046 80.4743 32.8994 65.0043 32.8994C63.3702 32.8451 61.736 32.9537 60.1019 33.1167ZM60.1019 4V17.146L62.7165 16.983C96.3256 15.8422 118.278 44.47 118.278 44.47C118.278 44.47 93.1118 74.9991 66.9108 74.9991C64.623 74.9991 62.3897 74.7818 60.1563 74.4016V82.5499C62.0084 82.7672 63.9149 82.9302 65.7669 82.9302C90.1703 82.9302 107.819 70.4904 124.923 55.8234C127.756 58.1049 139.358 63.5915 141.755 65.9816C125.523 79.5622 87.6646 90.481 66.2027 90.481C64.1328 90.481 62.1718 90.3723 60.2108 90.155V101.617H152.922V4H60.1019V4ZM60.1019 67.5027V74.4559C37.5505 70.4361 31.2862 47.0232 31.2862 47.0232C31.2862 47.0232 42.1261 35.0723 60.1019 33.1167V40.7218H60.0474C50.6238 39.581 43.2156 48.3812 43.2156 48.3812C43.2156 48.3812 47.4099 63.2112 60.1019 67.5027ZM20.065 46.0454C20.065 46.0454 33.4107 26.3808 60.1563 24.3165V17.146C30.5236 19.5362 4.92188 44.5244 4.92188 44.5244C4.92188 44.5244 19.4114 86.3525 60.1019 90.155V82.5499C30.2513 78.856 20.065 46.0454 20.065 46.0454Z"
              fill="#515B6A"
            />
          </g>
          <defs>
            <filter
              id="filter4_d"
              x="0.921875"
              y="0"
              width="164"
              height="113.617"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="4" dy="4" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <svg
          width="239"
          height="105"
          viewBox="0 0 239 105"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter5_d)">
            <path
              d="M4.92188 4V10.0892H48.1337V4H4.92188ZM54.256 4V10.0892H115.835C115.835 10.0892 109.545 4 101.214 4H54.256ZM127.915 4V10.0892H165.169L162.958 4H127.915ZM191.879 4L189.667 10.0892H226.584V4H191.879ZM4.92188 15.8419V21.9311H48.1337V15.8419H4.92188ZM54.256 15.8506V21.9313H122.981C122.981 21.9313 122.178 17.2448 120.778 15.8506H54.256ZM127.915 15.8506V21.9313H169.254L167.207 15.8506H127.915ZM187.456 15.8506L185.409 21.9313H226.584V15.8506H187.456ZM17.3399 27.6838V33.7816H36.0538V27.6838H17.3399ZM66.6743 27.6838V33.7816H85.3882V27.6838H66.6743ZM103.59 27.6838V33.7816H122.304C122.304 33.7816 123.493 30.5614 123.493 27.6838H103.59ZM140.333 27.6838V33.7816H173.512L171.3 27.6838H140.333ZM183.38 27.6838L181.16 33.7816H214.504V27.6838H183.38ZM17.3399 39.5346V45.6237H36.0538V39.5346H17.3399ZM66.6743 39.5346V45.6237H114.474C114.474 45.6237 118.472 42.4994 119.746 39.5346H66.6743ZM140.333 39.5346V45.6237H159.047V42.2342L160.235 45.6237H194.515L195.79 42.2342V45.6237H214.504V39.5346H179.374L177.51 44.6921L175.636 39.5346H140.333ZM17.3399 51.3765V57.4656H36.0538V51.3765H17.3399ZM66.6743 51.3765V57.4656H119.746C118.472 54.5106 114.474 51.3765 114.474 51.3765H66.6743ZM140.333 51.3765V57.4656H159.047V51.3765H140.333ZM162.446 51.3765L164.71 57.4656H190.413L192.564 51.3765H162.446ZM195.79 51.3765V57.4656H214.504V51.3765H195.79ZM17.3399 63.2184V69.3073H36.0538V63.2184H17.3399ZM66.6743 63.2184V69.3073H85.3882V63.2184H66.6743ZM103.59 63.2184V69.3073H123.492C123.492 66.4337 122.304 63.2184 122.304 63.2184H103.59ZM140.333 63.2184V69.3073H159.047V63.2184H140.333ZM166.696 63.2184L168.89 69.3073H186.121L188.332 63.2184H166.696ZM195.79 63.2184V69.3073H214.504V63.2184H195.79ZM5.25998 75.0603V81.1581H48.4718V75.0603H5.25998ZM54.256 75.0603V81.1581H120.778C122.178 79.7619 122.981 75.0603 122.981 75.0603H54.256ZM128.253 75.0603V81.1581H159.047V75.0603H128.253ZM170.953 75.0603L173.208 81.1581H181.975L184.091 75.0603H170.953ZM195.79 75.0603V81.1581H226.922V75.0603H195.79ZM5.25998 86.9108V93H48.4718V86.9108H5.25998ZM54.256 86.9108V92.9913H101.214C109.545 92.9913 115.835 86.9108 115.835 86.9108H54.256ZM128.253 86.9108V93H159.047V86.9108H128.253ZM175.229 86.9108L177.397 92.9829L177.77 92.9913L179.972 86.9108H175.229ZM195.79 86.9108V93H226.922V86.9108H195.79Z"
              fill="#515B6A"
            />
          </g>
          <defs>
            <filter
              id="filter5_d"
              x="0.921875"
              y="0"
              width="238"
              height="105"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="4" dy="4" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <svg
          width="140"
          height="139"
          viewBox="0 0 140 139"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter6_d)">
            <path
              d="M16.1211 77.1938L16.2031 76.9857L16.4455 76.3271L16.683 75.7333L16.7871 75.4591C18.014 72.4603 19.4647 69.5581 21.127 66.7769C21.3547 66.2872 21.5922 65.8098 21.8297 65.325L14.4672 65.3434L16.2533 61.3965C22.3377 59.7389 32.4718 56.3502 42.1457 46.969L42.4321 46.9506H47.5249L40.9386 61.0635L51.5159 61.0316L49.5755 65.2332L39.0165 65.2699C39.0165 65.2699 34.0609 75.1714 32.38 82.2548C31.0787 90.1608 32.3568 96.0615 39.4413 98.2725C43.8167 99.6289 49.2743 99.318 55.1567 97.6518C68.8447 93.3903 83.4779 83.9772 94.1837 71.522C111.809 51.0481 112.152 30.098 94.9648 24.7494C83.9345 21.324 68.3832 25.1325 53.9925 33.7107C71.9359 22.1369 91.6667 16.7025 105.282 20.9408C107.835 21.7353 110.045 22.831 111.928 24.1825C100.678 11.7836 84.4377 4 66.3779 4C32.4437 4 4.92193 31.5181 4.92193 65.456C4.90576 77.5147 8.45219 89.3094 15.116 99.3596C12.6811 93.3536 13.0238 85.6483 16.1199 77.1951"
              fill="#515B6A"
            />
            <path
              d="M118.492 32.855C122.603 44.0223 117.46 60.6877 103.265 77.1841C81.9537 101.966 48.2888 116.952 28.0843 110.662C25.5758 109.881 23.3979 108.808 21.5383 107.479C32.7522 119.445 48.6916 126.917 66.3804 126.917C100.328 126.917 127.845 99.4037 127.845 65.4609C127.845 53.4758 124.406 42.3048 118.492 32.855Z"
              fill="#515B6A"
            />
          </g>
          <defs>
            <filter
              id="filter6_d"
              x="0.921875"
              y="0"
              width="138.923"
              height="138.917"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="4" dy="4" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <svg
          width="222"
          height="84"
          viewBox="0 0 222 84"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter7_d)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M46.1178 37.5403V4.10062H59.2945L68.5786 28.6563L77.2635 4.10062H89.9405V37.5403H81.7552V16.3785L73.2693 37.5403H62.789L54.6027 16.3785V37.5403H46.1178ZM168.799 19.0737C168.201 20.1726 167.402 21.0703 167.103 22.2676C166.605 24.7638 167.504 27.259 169.199 29.0554C170.897 30.6529 173.092 31.1515 175.389 30.853C177.584 30.2538 179.98 28.3567 180.581 26.1612C181.579 23.2658 180.68 20.2721 178.484 18.2744C177.086 16.9777 175.291 16.3785 173.493 16.2779H157.422V37.5403H148.936V4H157.422V9.39163H175.789C180.879 9.39163 185.471 13.2841 187.468 18.2744C189.764 23.0669 188.665 29.3562 185.072 33.148C181.18 37.4408 175.889 39.0383 170.399 37.7404C165.406 36.343 160.215 31.6512 159.617 26.1612C159.217 23.6661 159.617 21.1698 160.715 19.0737H168.799ZM144.444 11.6867C146.737 14.1818 146.939 17.3768 146.939 20.5706V37.5403H139.153V26.9594C139.153 22.9662 138.453 17.8753 136.357 16.7776C134.16 15.6798 132.761 16.2779 131.265 16.9765C129.969 17.7747 128.971 18.9731 128.971 20.5706V32.6495H121.182V9.48999H128.769C128.769 10.3888 129.07 11.2876 129.268 12.0858C130.665 11.0875 131.865 9.78958 133.561 9.19039C137.157 7.99313 141.748 8.69181 144.444 11.6867ZM198.548 9.59061C198.948 10.2893 198.747 10.988 198.848 11.7873L199.047 11.9863C201.244 8.39335 205.835 9.98969 209.628 9.6901V16.478C206.535 16.478 203.34 16.0778 200.644 17.1767C199.246 18.0754 198.747 19.4728 198.747 21.0703V37.5403H189.962V9.59061H198.548ZM117.492 15.2796C119.29 18.6735 119.588 22.8656 119.588 26.8588L119.29 26.9582L101.021 27.0577C100.822 27.1572 100.822 27.4568 100.922 27.5563C103.018 30.0526 106.211 31.4488 109.406 31.1504C112.103 30.9502 114.297 29.6535 116.495 28.255L116.694 28.3545V34.3442C114.899 36.2413 112.503 36.8405 110.206 37.5391C104.317 38.6369 98.2263 37.339 94.4333 32.4482C91.4385 28.5557 90.5397 22.5649 92.3373 17.7736C93.7346 13.681 97.7278 9.58835 102.019 8.79017C108.107 7.19496 114.597 9.98969 117.492 15.2796ZM107.908 15.6798C106.612 14.8805 104.316 14.8805 102.917 15.7793C101.419 16.7776 100.521 18.2744 100.622 20.072C100.622 20.3716 101.021 20.4711 101.321 20.4711H110.006L110.405 20.1726C110.504 19.2738 110.206 18.4757 109.906 17.6764C109.506 16.8771 108.707 16.1784 107.908 15.6798ZM36.2356 64.7935C35.936 64.0937 36.1361 63.0954 36.0355 62.2961C35.936 62.0971 35.8354 61.7975 35.6364 61.7975C30.0458 66.192 21.1619 67.188 14.8726 63.5951C7.98524 60.1017 4.3912 52.7157 4.8909 45.0291C5.29112 38.9376 9.28312 33.2487 14.9732 30.9525C17.768 29.6558 21.0624 29.6558 24.3568 29.6558H44.0218V37.5414H20.0652C17.0704 37.5414 13.3769 41.8341 12.7777 45.427C12.079 49.921 14.175 53.5128 17.569 56.2092C20.4643 58.4036 24.956 59.2029 28.6496 57.8055C31.7439 56.8072 34.8382 53.6123 35.4374 50.3178C35.5369 50.0194 35.6375 49.2201 35.1378 49.0222H24.557V41.6351H44.0218V64.7946H36.2356V64.7935Z"
              fill="#515B6A"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M146.94 64.893H139.154V49.5196C139.154 47.8215 136.758 46.2252 134.761 46.0262C132.565 45.7255 128.972 47.6226 128.972 49.9187V64.8918H121.183V34.3464H128.972C128.972 34.3464 128.87 39.7369 129.171 42.2332L129.37 42.3327C131.967 39.6374 135.261 38.3396 139.154 38.9388C142.747 39.6386 146.94 42.9319 146.94 46.2263V64.893ZM62.789 45.7266C59.8937 46.1268 55.2019 44.3292 54.2036 48.2218V64.7935H46.2173L46.1178 39.1377H54.2036C54.2036 39.1377 54.3031 40.3361 54.5032 40.7352C55.5014 40.2355 56.2996 39.0382 57.5975 39.1377H62.789V45.7266ZM148.935 39.1377H157.421V64.893H148.935V39.1377ZM198.647 46.1257H186.769C186.369 46.1257 185.871 46.4242 185.669 46.8233C185.47 47.3218 185.57 47.9233 185.769 48.3201C186.07 48.9204 186.668 49.0199 187.166 49.2189C191.359 49.4202 195.853 48.3201 198.546 51.9153C200.344 54.1097 201.141 57.4041 199.944 60.1005C198.945 62.6952 196.249 65.0908 193.556 65.0908H170.795C165.705 65.0908 161.013 61.3984 159.317 56.9056C157.52 52.216 158.617 46.4242 162.41 42.9307C166.105 39.2372 171.395 39.538 176.686 39.6374L176.785 46.0262C173.091 46.1257 168.501 45.3264 166.502 49.0199C165.506 50.6163 165.404 53.2109 166.303 55.0085C167.401 57.1057 169.597 58.0045 171.893 58.2034H192.456C192.856 58.0045 193.156 57.7049 193.355 57.4041C193.556 56.8061 193.355 56.2069 192.955 55.8078L192.257 55.5071C188.064 55.2086 183.572 56.6071 180.477 53.61C178.183 51.4156 177.083 48.1211 178.183 44.8256C178.98 42.3304 182.175 39.1355 184.67 39.1355H198.645V46.1257H198.647ZM63.2876 44.9273C65.7839 40.0365 70.9743 38.6392 76.1646 39.4385C78.0606 39.7381 79.8582 40.4367 81.4557 41.435C82.255 41.0348 81.2567 38.9388 82.5534 39.1389H90.04V64.7946H82.0549C81.9554 64.296 81.9554 63.7963 81.5563 63.4967C77.7633 65.3938 72.5729 65.8924 68.7787 63.5962C63.7873 61.0016 61.2922 55.8101 61.7907 50.4207C61.9897 48.9216 62.4894 46.4242 63.2876 44.9273ZM77.9611 45.3264C75.1664 44.9262 72.4711 46.2252 71.0738 48.6208C69.8754 50.5179 70.0755 53.5116 71.3734 55.4087C72.8702 57.6054 75.5655 58.6037 78.1612 58.1051C79.6581 57.8044 81.355 57.0051 81.8548 55.5082C81.7553 53.0131 81.9554 50.2172 81.7553 47.5242C80.7558 46.4242 79.4591 45.6271 77.9611 45.3264ZM92.7352 39.1377H100.821C100.821 39.1377 100.821 40.3361 101.32 40.5351C103.017 39.8364 104.813 39.1377 106.71 38.9376C112.2 38.439 117.491 42.032 119.587 47.124C121.385 51.9153 120.086 57.6054 116.494 61.1983C112.998 64.893 107.409 65.9896 102.718 64.3932C102.219 64.2938 101.72 63.7952 101.22 64.0925L101.02 64.3932V71.6797H92.7352V39.1377ZM106.711 45.3264C104.615 45.1274 102.418 45.7266 101.121 47.2235V56.1085L101.321 56.6071C103.018 57.8044 105.114 58.6037 107.31 58.0045C109.307 57.6043 111.103 55.8078 111.802 54.0102C112.301 52.0136 112.103 49.618 111.003 48.1211C109.905 46.6243 108.408 45.825 106.711 45.3264Z"
              fill="#515B6A"
            />
          </g>
          <defs>
            <filter
              id="filter7_d"
              x="0.844971"
              y="0"
              width="220.783"
              height="83.6797"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="4" dy="4" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
      </div>
    </div>

    <div id="section7">
      <div class="container">
        <div id="col1">
          <p class="line1">INTRODUCING BRYTE'S</p>
          <p class="line2">COMPETITIONS</p>
          <p id="contestinfo">
            Clients can use Bryte to host their competitons. They can be open to
            all developers, exclusive to those recognized skilled at a specific
            field, or competitions with entry fees. Clients can hire our experts
            as judges as well.
          </p>
          <a class="Button" href="/signup">Sign up as a client</a>
        </div>
        <div id="col2"></div>
      </div>
    </div>
    <script>
              const Anims = {AFW: 65, JT: 46, PP: 46, VYS: 65};
              document.onload = () => {
                  for(x in Anims){
          for (let i = 0; i < Anims[x]+1; i++) {
              if (i < 10)
                  $('body').append(`<div id="preload-image-${i}" style="background-image: url('Morph Animations/${x}/${x}000${i}.png');"</div>`)
              else
                  $('body').append(`<div id="preload-image-${i}" style="background-image: url('Morph Animations/${x}/${x}00${i}.png');"</div>`)
          }
          ForwardAnimation(x);
        }
      };
      ForwardAnimation("PP");
      ForwardAnimation("AFW");
      ForwardAnimation("VYS");
      ForwardAnimation("JT");


      function ForwardAnimation(id) {
    const imagePath = 'Morph Animations/' + id + '/' + id + '00';
    const totalFrames = Anims[id];
    let timePerFrame = 0;
    if(totalFrames > 50)
        timePerFrame = 1200/totalFrames;
    else
        timePerFrame = 800/totalFrames;    
    const temptime = timePerFrame;
    let timeWhenLastUpdate;
    let timeFromLastUpdate;
    let length = document.querySelector("."+ id + "0000").src.length;
    let frameNumber = parseInt(document.querySelector("."+ id + "0000").src[length - 6] + document.querySelector("."+ id + "0000").src[length - 5]);

    function step(startTime) {
        if (!timeWhenLastUpdate) timeWhenLastUpdate = startTime;

        timeFromLastUpdate = startTime - timeWhenLastUpdate;

        if (timeFromLastUpdate > timePerFrame) {
            if (frameNumber < 10)
                document.querySelectorAll("."+ id + "0000").forEach((el) => {el.setAttribute('src', imagePath + `0${frameNumber}.png`);});
            else
            document.querySelectorAll("."+ id + "0000").forEach((el) => {el.setAttribute('src', imagePath + `${frameNumber}.png`);});
            timeWhenLastUpdate = startTime;

            if (frameNumber >= totalFrames) {
                BackwardAnimation(id);
                return;
            } else {
                frameNumber = frameNumber + 1;
                if(frameNumber < 3 || totalFrames - frameNumber < 3)
                    timePerFrame = temptime * 3;
                else
                    timePerFrame = temptime;   
            }
        }
        requestAnimationFrame(step);

    }
    step(0);

}

function BackwardAnimation(id) {
    const imagePath = 'Morph Animations/' + id + '/' + id + '00';
    const totalFrames = Anims[id];
    let timePerFrame = 0;
    if(totalFrames > 50)
        timePerFrame = 1200/totalFrames;
    else
        timePerFrame = 800/totalFrames;    
    const temptime = timePerFrame;
    let timeWhenLastUpdate;
    let timeFromLastUpdate;
    let length = document.querySelector("."+ id + "0000").src.length;
    let frameNumber = parseInt(document.querySelector("."+ id + "0000").src[length - 6] + document.querySelector("."+ id + "0000").src[length - 5]);

    function step(startTime) {
        if (!timeWhenLastUpdate) timeWhenLastUpdate = startTime;

        timeFromLastUpdate = startTime - timeWhenLastUpdate;

        if (timeFromLastUpdate > timePerFrame) {
            if (frameNumber < 10)
                document.querySelectorAll("."+ id + "0000").forEach((el) => {el.setAttribute('src', imagePath + `0${frameNumber}.png`);});
            else
            document.querySelectorAll("."+ id + "0000").forEach((el) => {el.setAttribute('src', imagePath + `${frameNumber}.png`);});
            timeWhenLastUpdate = startTime;

            if (frameNumber <= 0) {
                ForwardAnimation(id);
                return;
            } else {
                frameNumber = frameNumber - 1;
                if(frameNumber < 3 || totalFrames - frameNumber < 3)
                    timePerFrame = temptime * 3;
                else
                    timePerFrame = temptime; 
            }
        }

        requestAnimationFrame(step);
    }

    step(0);

}
    </script>
  </body>
</html>
