<%- include('partials/header'); -%>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Protfolio</title>
</head>

<body>
  <div class="main">
    <div id="side-bar-container">
      <div class="side_bar">
        <div id="upper">
          <img class="profile-pic" src="<%= devCont.dev['DEV_Profile_Picture'] %>" />
          <div>
            <h1><%= devCont.dev['DEV_Fname'] %> <%= devCont.dev['DEV_Lname'] %></h1>
            <a href="#">
              <h5><%= devCont.dev['DEV_User_Name'] %></h5>
            </a>
          </div>
        </div>
        <div class="Side-Sheet">
          <svg id="side-bar-arrow" width="313" height="119" viewBox="0 0 313 119" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M278 12H19.3309C9.20702 12 1 20.0589 1 30V119" stroke="url(#paint0_linear)" stroke-width="2" />
            <circle cx="288.5" cy="11.5" r="11.5" fill="#020f22" stroke-width="2" />
            <circle cx="288.5" cy="11.5" r="5.5" transform="rotate(90 288.5 11.5)" stroke="white" stroke-width="2" />
            <path d="M296 22L309 11.5L296.406 2" stroke="white" stroke-width="4" stroke-linecap="round" />
            <defs>
              <linearGradient id="paint0_linear" x1="274.945" y1="12" x2="5.87031" y2="118.306"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="#4B90F6" stop-opacity="0" />
              </linearGradient>
            </defs>
          </svg>
          <div id="developers-container">
            <h2>Contact Info:</h2>
            <div id="developers-bar">
              <div class="contact">
                <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background: new 0 0 512 512" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M485.743,85.333H26.257C11.815,85.333,0,97.148,0,111.589V400.41c0,14.44,11.815,26.257,26.257,26.257h459.487
                      c14.44,0,26.257-11.815,26.257-26.257V111.589C512,97.148,500.185,85.333,485.743,85.333z M475.89,105.024L271.104,258.626
                      c-3.682,2.802-9.334,4.555-15.105,4.529c-5.77,0.026-11.421-1.727-15.104-4.529L36.109,105.024H475.89z M366.5,268.761
                      l111.59,137.847c0.112,0.138,0.249,0.243,0.368,0.368H33.542c0.118-0.131,0.256-0.23,0.368-0.368L145.5,268.761
                      c3.419-4.227,2.771-10.424-1.464-13.851c-4.227-3.419-10.424-2.771-13.844,1.457l-110.5,136.501V117.332l209.394,157.046
                      c7.871,5.862,17.447,8.442,26.912,8.468c9.452-0.02,19.036-2.6,26.912-8.468l209.394-157.046v275.534L381.807,256.367
                      c-3.42-4.227-9.623-4.877-13.844-1.457C363.729,258.329,363.079,264.534,366.5,268.761z" />
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
                <a href="#"><%= devCont.dev['DEV_Email'] %></a>
              </div>
              <div class="contact">
                <svg class="icon" id="Layer_1" enable-background="new 0 0 512.021 512.021" height="512"
                  viewBox="0 0 512.021 512.021" width="512" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="m367.988 512.021c-16.528 0-32.916-2.922-48.941-8.744-70.598-25.646-136.128-67.416-189.508-120.795s-95.15-118.91-120.795-189.508c-8.241-22.688-10.673-46.108-7.226-69.612 3.229-22.016 11.757-43.389 24.663-61.809 12.963-18.501 30.245-33.889 49.977-44.5 21.042-11.315 44.009-17.053 68.265-17.053 7.544 0 14.064 5.271 15.645 12.647l25.114 117.199c1.137 5.307-.494 10.829-4.331 14.667l-42.913 42.912c40.482 80.486 106.17 146.174 186.656 186.656l42.912-42.913c3.838-3.837 9.361-5.466 14.667-4.331l117.199 25.114c7.377 1.581 12.647 8.101 12.647 15.645 0 24.256-5.738 47.224-17.054 68.266-10.611 19.732-25.999 37.014-44.5 49.977-18.419 12.906-39.792 21.434-61.809 24.663-6.899 1.013-13.797 1.518-20.668 1.519zm-236.349-479.321c-31.995 3.532-60.393 20.302-79.251 47.217-21.206 30.265-26.151 67.49-13.567 102.132 49.304 135.726 155.425 241.847 291.151 291.151 34.641 12.584 71.866 7.64 102.132-13.567 26.915-18.858 43.685-47.256 47.217-79.251l-95.341-20.43-44.816 44.816c-4.769 4.769-12.015 6.036-18.117 3.168-95.19-44.72-172.242-121.772-216.962-216.962-2.867-6.103-1.601-13.349 3.168-18.117l44.816-44.816z" />
                  </g>
                </svg>
                <a href="#"><%= devCont.dev['DEV_Phone'] %> </a>
              </div>
            </div>
            <h2>Links:</h2>
            <div id="developers-bar">
              <% for(x in devCont['links']) {%>
              <div class="contact">
                <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background: new 0 0 512 512" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M485.743,85.333H26.257C11.815,85.333,0,97.148,0,111.589V400.41c0,14.44,11.815,26.257,26.257,26.257h459.487
                      c14.44,0,26.257-11.815,26.257-26.257V111.589C512,97.148,500.185,85.333,485.743,85.333z M475.89,105.024L271.104,258.626
                      c-3.682,2.802-9.334,4.555-15.105,4.529c-5.77,0.026-11.421-1.727-15.104-4.529L36.109,105.024H475.89z M366.5,268.761
                      l111.59,137.847c0.112,0.138,0.249,0.243,0.368,0.368H33.542c0.118-0.131,0.256-0.23,0.368-0.368L145.5,268.761
                      c3.419-4.227,2.771-10.424-1.464-13.851c-4.227-3.419-10.424-2.771-13.844,1.457l-110.5,136.501V117.332l209.394,157.046
                      c7.871,5.862,17.447,8.442,26.912,8.468c9.452-0.02,19.036-2.6,26.912-8.468l209.394-157.046v275.534L381.807,256.367
                      c-3.42-4.227-9.623-4.877-13.844-1.457C363.729,258.329,363.079,264.534,366.5,268.761z" />
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
                <a href="#"><%= devCont['links'][x]['DEV_LIN_Link'] %> </a>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="Side-Sheet">
          <svg id="side-bar-arrow" width="313" height="119" viewBox="0 0 313 119" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M278 12H19.3309C9.20702 12 1 20.0589 1 30V119" stroke="url(#paint0_linear)" stroke-width="2" />
            <circle cx="288.5" cy="11.5" r="11.5" fill="#020f22" stroke-width="2" />
            <circle cx="288.5" cy="11.5" r="5.5" transform="rotate(90 288.5 11.5)" stroke="white" stroke-width="2" />
            <path d="M296 22L309 11.5L296.406 2" stroke="white" stroke-width="4" stroke-linecap="round" />
            <defs>
              <linearGradient id="paint0_linear" x1="274.945" y1="12" x2="5.87031" y2="118.306"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="#4B90F6" stop-opacity="0" />
              </linearGradient>
            </defs>
          </svg>
          <div id="developers-container">
            <h2>Education: </h2>
            <div id="developers-bar">
              <% for (x in devCont['degrees']) {%>
              <div class="degree">
                <div class="deg-title"><%= devCont['degrees'][x]['DEV_DEG_Title']%> :
                  <%= devCont['degrees'][x]['DEV_DEG_Field']%></div>
                <div class="deg-date"><%= devCont['degrees'][x]['DEV_DEG_Start_Date']%> -
                  <%= devCont['degrees'][x]['DEV_DEG_End_Date']%></div>
                <div class="deg-uni"><%= devCont['degrees'][x]['DEV_DEG_University'] %> University - Faculty of
                  <%= devCont['degrees'][x]['DEV_DEG_Faculty'] %></div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-border">
      <div class="content">
        <div class="slide_show">
          <img id="Cover" src="<%= devCont.dev['DEV_Cover'] %>" />
        </div>
        <div class="project-info">
          <div id="info-bar">
            <div id="project-title">About me</div>
            <div id="discreption">
              <pre>
<%= devCont['dev']['DEV_About']%>
                </pre>
            </div>
          </div>
        </div>
        <div class="skill-cont">
          <div class="left-title">
            <svg width="36" height="36" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512" fill="white"> <circle cx="256" cy="256" r="256" fill="#020F22" /> <path fill="white" d="m90.050781 395.949219c-7.167969 0-14.058593 1.789062-20.171875 5.148437-32.203125-41.28125-49.878906-92.5625-49.878906-145.097656 0-130.132812 105.867188-236 236-236 15.820312 0 31.632812 1.574219 47 4.679688 5.40625 1.09375 10.6875-2.40625 11.78125-7.820313s-2.40625-10.6875-7.820312-11.785156c-16.667969-3.367188-33.8125-5.074219-50.960938-5.074219-68.378906 0-132.667969 26.628906-181.019531 74.980469-48.351563 48.351562-74.980469 112.640625-74.980469 181.019531 0 57.519531 19.53125 113.652344 55.089844 158.652344-4.578125 6.839844-7.039063 14.878906-7.039063 23.296875 0 11.21875 4.371094 21.765625 12.304688 29.695312 7.929687 7.933594 18.476562 12.304688 29.695312 12.304688s21.765625-4.371094 29.699219-12.304688c7.933594-7.929687 12.300781-18.480469 12.300781-29.699219 0-11.214843-4.367187-21.765624-12.300781-29.695312-7.933594-7.933594-18.480469-12.300781-29.699219-12.300781zm15.554688 57.554687c-4.152344 4.15625-9.679688 6.445313-15.554688 6.445313s-11.398437-2.289063-15.554687-6.445313-6.445313-9.679687-6.445313-15.554687c0-5.878907 2.289063-11.402344 6.445313-15.558594 4.152344-4.15625 9.679687-6.441406 15.554687-6.441406s11.398438 2.289062 15.554688 6.441406c4.15625 4.15625 6.445312 9.679687 6.445312 15.558594 0 5.875-2.289062 11.398437-6.445312 15.554687zm0 0"/><path d="m456.902344 97.335938c10.871094-16.308594 9.125-38.605469-5.253906-52.984376-7.933594-7.929687-18.480469-12.300781-29.699219-12.300781s-21.765625 4.371094-29.699219 12.300781c-7.933594 7.933594-12.300781 18.480469-12.300781 29.699219s4.367187 21.765625 12.300781 29.699219 18.480469 12.300781 29.699219 12.300781c7.167969 0 14.058593-1.789062 20.171875-5.148437 32.203125 41.285156 49.878906 92.5625 49.878906 145.097656 0 130.132812-105.867188 236-236 236-15.664062 0-31.328125-1.542969-46.550781-4.589844-5.414063-1.082031-10.683594 2.429688-11.769531 7.84375-1.082032 5.417969 2.429687 10.683594 7.84375 11.769532 16.511718 3.300781 33.496093 4.976562 50.476562 4.976562 68.378906 0 132.667969-26.628906 181.019531-74.980469 48.351563-48.351562 74.980469-112.640625 74.980469-181.019531 0-57.523438-19.535156-113.660156-55.097656-158.664062zm-50.507813-7.726563c-4.15625-4.15625-6.445312-9.679687-6.445312-15.558594 0-5.875 2.289062-11.398437 6.445312-15.554687 4.152344-4.15625 9.679688-6.445313 15.554688-6.445313s11.402343 2.289063 15.558593 6.445313c8.574219 8.578125 8.574219 22.535156 0 31.113281-4.15625 4.152344-9.683593 6.441406-15.558593 6.441406-5.878907 0-11.402344-2.289062-15.554688-6.441406zm0 0"/><path d="m214.734375 428c0 5.523438 4.480469 10 10 10h62.527344c5.523437 0 10-4.476562 10-10v-19.386719c13.148437-3.539062 25.71875-8.75 37.53125-15.554687l13.6875 13.6875c1.875 1.875 4.417969 2.929687 7.074219 2.929687 2.648437 0 5.195312-1.054687 7.070312-2.933593l44.195312-44.226563c3.902344-3.90625 3.902344-10.238281 0-14.140625l-13.671874-13.671875c6.804687-11.8125 12.015624-24.382813 15.554687-37.53125h19.3125c5.523437 0 10-4.476563 10-10v-62.527344c0-5.523437-4.476563-10-10-10h-19.316406c-3.539063-13.144531-8.746094-25.714843-15.550781-37.527343l13.597656-13.597657c1.875-1.875 2.929687-4.421875 2.929687-7.074219-.003906-2.652343-1.058593-5.199218-2.933593-7.074218l-44.230469-44.195313c-3.902344-3.902343-10.234375-3.902343-14.140625.003907l-13.578125 13.582031c-11.8125-6.804688-24.382813-12.015625-37.53125-15.554688v-19.207031c0-5.523438-4.476563-10-10-10h-62.527344c-5.519531 0-10 4.476562-10 10v19.210938c-13.144531 3.535156-25.714844 8.746093-37.527344 15.550781l-13.582031-13.582031c-3.902344-3.902344-10.234375-3.90625-14.140625-.003907l-44.226563 44.199219c-1.878906 1.875-2.933593 4.417969-2.933593 7.070312 0 2.652344 1.054687 5.199219 2.929687 7.074219l13.597656 13.597657c-6.804687 11.8125-12.015624 24.378906-15.554687 37.527343h-19.277344c-5.523437 0-10 4.476563-10 9.996094l-.035156 62.527344c-.003906 2.652343 1.050781 5.199219 2.925781 7.074219s4.417969 2.929687 7.074219 2.929687h19.3125c3.539063 13.148437 8.75 25.71875 15.554687 37.53125l-13.671874 13.671875c-3.902344 3.902344-3.90625 10.234375 0 14.140625l44.195312 44.226563c1.875 1.875 4.417969 2.933593 7.070312 2.933593h.003907c2.652343 0 5.195312-1.054687 7.070312-2.929687l13.683594-13.6875c11.816406 6.804687 24.386719 12.015625 37.53125 15.554687zm-33.609375-55.972656c-3.957031-2.558594-9.164062-2.003906-12.5 1.328125l-12.175781 12.175781-30.058594-30.082031 12.164063-12.167969c3.332031-3.332031 3.886718-8.539062 1.328124-12.496094-9.066406-14.03125-15.441406-29.410156-18.941406-45.714844-.992187-4.605468-5.0625-7.898437-9.777344-7.898437h-17.175781l.023438-42.527344h17.152343c4.714844 0 8.785157-3.289062 9.777344-7.898437 3.5-16.300782 9.875-31.679688 18.941406-45.710938 2.558594-3.957031 2.003907-9.164062-1.328124-12.496094l-12.085938-12.089843 30.082031-30.058594 12.074219 12.078125c3.335938 3.332031 8.539062 3.882812 12.5 1.328125 14.027344-9.066406 29.40625-15.441406 45.710938-18.941406 4.605468-.992188 7.898437-5.066407 7.898437-9.777344v-17.078125h42.527344v17.074219c0 4.714843 3.289062 8.789062 7.898437 9.777343 16.300782 3.503907 31.683594 9.875 45.710938 18.941407 3.957031 2.558593 9.164062 2.007812 12.496094-1.328125l12.078124-12.074219 30.082032 30.058594-12.085938 12.085937c-3.335937 3.335938-3.886718 8.542969-1.328125 12.5 9.066407 14.03125 15.4375 29.410156 18.941407 45.710938.988281 4.609375 5.0625 7.898437 9.777343 7.898437h17.183594v42.527344h-17.183594c-4.714843 0-8.785156 3.292969-9.777343 7.898437-3.5 16.300782-9.875 31.683594-18.941407 45.710938-2.558593 3.960938-2.003906 9.167969 1.328125 12.5l12.164063 12.164062-30.058594 30.082032-12.175781-12.171875c-3.335938-3.335938-8.542969-3.886719-12.5-1.328125-14.03125 9.066406-29.410156 15.4375-45.710938 18.941406-4.609375.992188-7.898437 5.0625-7.898437 9.777344v17.253906h-42.527344v-17.253906c0-4.710938-3.292969-8.785156-7.898437-9.777344-16.300782-3.5-31.679688-9.875-45.710938-18.941406zm0 0"/><path d="m338.628906 256c0-45.5625-37.066406-82.628906-82.628906-82.628906s-82.628906 37.066406-82.628906 82.628906 37.066406 82.628906 82.628906 82.628906 82.628906-37.066406 82.628906-82.628906zm-145.257812 0c0-34.535156 28.09375-62.628906 62.628906-62.628906s62.628906 28.097656 62.628906 62.628906-28.09375 62.628906-62.628906 62.628906-62.628906-28.09375-62.628906-62.628906zm0 0"/><path d="m348.078125 37.820312c2.632813 0 5.210937-1.070312 7.070313-2.929687 1.859374-1.871094 2.929687-4.449219 2.929687-7.082031 0-2.617188-1.066406-5.199219-2.929687-7.070313-1.859376-1.859375-4.4375-2.929687-7.070313-2.929687-2.640625 0-5.207031 1.070312-7.066406 2.929687-1.863281 1.871094-2.933594 4.441407-2.933594 7.070313 0 2.640625 1.070313 5.210937 2.933594 7.082031 1.859375 1.859375 4.425781 2.929687 7.066406 2.929687zm0 0"/><path d="m164.359375 474.359375c-2.628906 0-5.210937 1.070313-7.070313 2.929687-1.859374 1.859376-2.929687 4.441407-2.929687 7.070313 0 2.640625 1.070313 5.210937 2.929687 7.070313 1.859376 1.859374 4.441407 2.929687 7.070313 2.929687s5.210937-1.070313 7.070313-2.929687c1.859374-1.859376 2.929687-4.441407 2.929687-7.070313s-1.070313-5.210937-2.929687-7.070313c-1.859376-1.859374-4.441407-2.929687-7.070313-2.929687zm0 0"/></svg>
            &nbsp; Fields & Skills
          </div>

          <div class="skill-list">

            <% if (devCont['fileds'].length == 0 & devCont['skills'].length == 0){%>
              <div class="no-content">You didn't add any fileds or skills yet</div>
              <% }%>

            <% for (x in devCont['fileds']) {%>
            <div class="skill-instance">
              <div class="skill-head">
                <img src="../assets/Fields/<%= devCont['fileds'][x] %>.png" alt="<%= devCont['fileds'][x] %>" />
              </div>
              <div>
                <div class="skill-tail">
                  <span><%= devCont['fileds'][x] %></span>
                </div>
              </div>
            </div>
            <% } %>

            <% for (x in devCont['skills']) {%>
              <div class="skill-instance">
                <div class="skill-head">
                  <img src="../assets/Skills/<%= devCont['skills'][x] %>.png" alt="<%= devCont['skills'][x] %>" />
                </div>
                <div>
                  <div class="skill-tail">
                    <span><%= devCont['skills'][x] %></span>
                  </div>
                </div>
              </div>
              <% } %>

          </div>
        </div>
        <div class="skill-cont">
          <div class="left-title">
            <svg width="37" height="32" viewBox="0 0 37 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="18" cy="16" r="16" fill="#020F22"/>
              <path d="M25.7828 22.6022L33 16.6681L26.0083 11.2992M11.2172 22.6022L4 16.6681L10.9917 11.2992M14.6195 26.75L23.7566 5" stroke="white" stroke-width="4" stroke-linecap="round"/>
              </svg>
            &nbsp; Projects
          </div>
          <div class="skill-list">

            <% if (devCont['projects'].length == 0){%>
              <div class="no-content">You didn't add any Projects yet</div>
              <% }%>

            <% for (x in devCont['projects']) {%>
              <div class="project">
                <img src="<%= devCont['projects'][x]['PRO_Thumbnail'] %>" alt="Project" class="MainPic" />
                <div class="cats">
                  <% for (i in devCont['projects'][x]['fileds']) {%>
                  <img class="cats-img" src="../assets/Fields/<%= devCont['projects'][x]['fileds'][i] %>.png">
                  <% if (i >= 2) {%>
                    <% break;}%>
                 <% } %>
                   | 
                 <% for (i in devCont['projects'][x]['skills']) {%>
                  <img class="cats-img" src="../assets/Skills/<%= devCont['projects'][x]['skills'][i] %>.png">
                  <% if (i >= 3) {%>
                    <% break;}%>
                 <% } %>

                </div>
                <div class="info">
                  <div class="main">
                    <div class="dev">
                      <a href="/project/<%= devCont['projects'][x]['PRO_ID']%>" class="name"><%= devCont['projects'][x]['PRO_Name'] %></a>
                      <p class="username">Personal Project</p>
                    </div>
                  </div>
                  <div class="sec">
                    <p class="date"><%= devCont['projects'][x]['PRO_End_Date'] %></p>
                    <div class="rate">
                      <p><%= devCont['projects'][x]['PRO_Rate'] %></p>
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z"
                          fill="#4B90F7" />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>

        </div>
        <div class="review-cont">
          <div class="left-title">
            <svg width="36" height="36" viewBox="0 -32 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="256" cy="236" r="272" fill="#020F22" />
              <path xmlns="http://www.w3.org/2000/svg" fill="white" d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0"/>
            </svg>
            &nbsp; Working Experience
          </div>
          <% if (devCont['experince'].length == 0){%>
            <div class="no-content">You didn't add any experince yet</div>
            <% }%>
          <div class="review-list">
            <% for (x in devCont['experince']) {%>
            <div class="review-instance">
              <div class="review-head">
                <div class="reviewer-cont">
                  <div class="review-title"><%= devCont['experince'][x]['DEV_WOR_Title']%></div>
                  <div class="reviewer" style="font-family: sans-serif">
                    <span>
                      <a href="" style="color: #66a3ff"><%= devCont['experince'][x]['DEV_WOR_Place']%></a></span>
                  </div>
                </div>
                <div class="review-date"><%= devCont['experince'][x]['DEV_WOR_Start_Date']%> | <%= devCont['experince'][x]['DEV_WOR_End_Date']%></div>
              </div>
              <div>
                <div class="review-tail">
                  <%= devCont['experince'][x]['DEV_WOR_Descreption']%>
                </div>
              </div>
            </div>
            <% } %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>