<%- include('partials/header'); -%>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
  </head>

  <body>
    <div class="main">
      <div id="side-bar-container">
        <div class="side_bar">
          <div id="upper">
            <svg
              width="197"
              height="144"
              viewBox="0 0 197 144"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M139.937 110.353L181 76.5216L141.22 45.9126M57.0633 110.353L16 76.5216L55.7801 45.9126M76.4213 134L128.408 10"
                stroke="#48CC75"
                stroke-width="19"
                stroke-linecap="round"
              />
            </svg>
            <h1>Personal Project</h1>
          </div>
          <svg
            id="side-bar-arrow"
            width="313"
            height="119"
            viewBox="0 0 313 119"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M278 12H19.3309C9.20702 12 1 20.0589 1 30V119"
              stroke="url(#paint0_linear)"
              stroke-width="2"
            />
            <circle
              cx="288.5"
              cy="11.5"
              r="11.5"
              fill="#020f22"
              stroke-width="2"
            />
            <circle
              cx="288.5"
              cy="11.5"
              r="5.5"
              transform="rotate(90 288.5 11.5)"
              stroke="white"
              stroke-width="2"
            />
            <path
              d="M296 22L309 11.5L296.406 2"
              stroke="white"
              stroke-width="4"
              stroke-linecap="round"
            />
            <defs>
              <linearGradient
                id="paint0_linear"
                x1="274.945"
                y1="12"
                x2="5.87031"
                y2="118.306"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" />
                <stop offset="1" stop-color="#4B90F6" stop-opacity="0" />
              </linearGradient>
            </defs>
          </svg>
          <div id="developers-container">
            <h2>Developers:</h2>
            <div id="developers-bar">
            <% for(x in project_container.devs) { %>  
              <a href="/developer/<%= project_container.devs[x].DEV_ID %>">
              <div class="review-head dev">
                <img onerror="this.onerror=null;this.src='../assets/img placeholder.svg';" class="review-avatar dev" src="<%= project_container.devs[x].DEV_Profile_Picture %>" />
                <div class="reviewer-cont dev">
                  <a href="#" class="review-title dev"><%= project_container.devs[x].DEV_Fname %> <%= project_container.devs[x].DEV_Lname %></a>
                  <div class="reviewer dev" style="font-family: sans-serif">
                    <span style="color: #66a3ff"><%= project_container.devs[x].DEV_Role %></span>
                  </div>
                </div>
              </div>
            </a>
            <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="content-border">
        <div class="content">
          <div class="slide_show">

            <% if (Object.keys(container['media']).length > 0) { %>
              <img id="first-img" src="<%= project_container.media[0].PRO_MUL_Link %>" onerror="this.onerror=null;this.src='../assets/img placeholder.svg';"/>
              <% } else { %>
                <img id="first-img" src="../assets/img placeholder.svg" />
              <% } %>
  
              <% if (Object.keys(container['media']).length > 1) { %>
                <img id="second-img" src="<%= container.media[1].BID_ATT_Link %>" onerror="this.onerror=null;this.src='../assets/img placeholder.svg';"/>
                <% }else { %>
                  <img id="second-img" src="../assets/img placeholder.svg" />
                <% } %>

          </div>
          <div class="project-info">
            <div id="logo-bar">
              <img onerror="this.onerror=null;this.src='../assets/img placeholder.svg';" src="<%= project_container.project.PRO_Thumbnail %>" />
            </div>
            <div id="info-bar">
              <div id="project-title">
                <h1><%= project_container.project.PRO_Name %></h1>
                <span>
                  <%= project_container.project.PRO_Start_Date %> - <%= project_container.project.PRO_End_Date %>
            </span>
              </div>
              <div id="rate-bar">
                <div id="rate">
                  <span style="filter: hue-rotate(<%= (project_container.project.PRO_Rate) * 30 %>deg) saturate(1.3) brightness(1.2);"><%= project_container.project.PRO_Rate %>

                  <% for(i = 0; i < project_container.project.PRO_Rate; i++) {%>
                    <svg height="15pt" viewBox="0 -10 511.98685 511" width="15pt" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" fill="#ff5147"/></svg>
                  <% } %>

                    <% for(i = 5 - project_container.project.PRO_Rate; i > 0; i--) {%>
                      <svg height="15pt" viewBox="0 -10 511.98685 511" width="15pt" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" fill="none" stroke="#ff5147" stroke-width="40px"/></svg>
                    <% }%>
                  </span>
                </div>
                <div id="categories-bar">
                  <div id="categories">
                    <% for(x in project_container.Fields) {%>
                      <p><%= project_container.Fields[x].PRO_CAT_Field %></p> &ensp;
                   <% } %>
                   
                  </div>
                  <span style="color: white;"> | </span>
                  <div id="skills">
                    <% for(x in project_container.Skills) {%>
                      <p><%= project_container.Skills[x].PRO_CAT_Skill %></p>  &ensp;
                   <% } %>
                  </div>
                </div>
              </div>
              <div id="discreption">
                <svg
                  id="dis-border"
                  width="157"
                  height="112"
                  viewBox="0 0 157 112"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g filter="url(#filter0_d)">
                    <line
                      x1="26.5"
                      y1="1"
                      x2="26.5"
                      y2="103"
                      stroke="url(#paint3_linear)"
                    />
                  </g>
                  <g filter="url(#filter1_d)">
                    <line
                      x1="5"
                      y1="28.5"
                      x2="152"
                      y2="28.5"
                      stroke="url(#paint1_linear)"
                    />
                  </g>
                  <defs>
                    <filter
                      id="filter0_d"
                      x="21"
                      y="0"
                      width="11"
                      height="112"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      />
                      <feOffset dy="4" />
                      <feGaussianBlur stdDeviation="2.5" />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="BackgroundImageFix"
                        result="effect1_dropShadow"
                      />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="effect1_dropShadow"
                        result="shape"
                      />
                    </filter>
                    <filter
                      id="filter1_d"
                      x="0"
                      y="27"
                      width="157"
                      height="11"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      />
                      <feOffset dy="4" />
                      <feGaussianBlur stdDeviation="2.5" />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="BackgroundImageFix"
                        result="effect1_dropShadow"
                      />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="effect1_dropShadow"
                        result="shape"
                      />
                    </filter>
                    <linearGradient
                      id="paint3_linear"
                      x1="25.0073"
                      y1="1"
                      x2="25.0073"
                      y2="103"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#4B90F7" stop-opacity="0" />
                      <stop offset="0.190625" stop-color="#4B90F7" />
                      <stop offset="1" stop-color="#4B90F7" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient
                      id="paint1_linear"
                      x1="5"
                      y1="29.9927"
                      x2="152"
                      y2="29.9927"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#4B90F7" stop-opacity="0" />
                      <stop offset="0.190625" stop-color="#4B90F7" />
                      <stop offset="1" stop-color="#4B90F7" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
                <pre>
  <%= project_container.project.PRO_Description %>
                </pre>
              </div>
            </div>
          </div>

          <% if (Object.keys(container['timeline']).length > 0) { %>
          <div class="timeline-cont">
            <div class="left-title">
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="18" cy="18" r="18" fill="#020F22" />
                <path
                  d="M17.697 9C17.0118 9 16.4563 9.5555 16.4563 10.2408V16.4563H10.2408C9.5555 16.4563 9 17.0118 9 17.6971C9 18.3824 9.5555 18.9378 10.2408 18.9378H17.697C18.3823 18.9378 18.9378 18.3823 18.9378 17.697V10.2408C18.9378 9.5555 18.3823 9 17.697 9Z"
                  fill="white"
                />
                <path
                  d="M17.933 3.86597C10.164 3.86597 3.866 10.164 3.866 17.933C3.866 25.702 10.164 32 17.933 32C25.702 32 32 25.702 32 17.933C31.9918 10.1675 25.6986 3.87427 17.933 3.86597ZM17.933 28.9904C11.2738 28.9904 6.87555 24.5921 6.87555 17.933C6.87555 11.2738 11.2738 6.87552 17.933 6.87552C24.5921 6.87552 28.9904 11.2738 28.9904 17.933C28.9833 24.5892 24.5892 28.9832 17.933 28.9904Z"
                  fill="white"
                />
              </svg>
              &nbsp; Timeline
            </div>
            <div class="timeline">
              <div class="phasedate-list">
                <% for(x in project_container.timeline) {%>
                  <div class="phase-date"><%= project_container.timeline[x].PRO_TIM_Phase_Start_Date %> - <%= project_container.timeline[x].PRO_TIM_Phase_End_Date %></div>
               <% } %>
              </div>
              <svg
                class="line-of-time"
                width="957"
                height="3"
                viewBox="0 0 957 3"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g filter="url(#filter5_d)">
                  <line
                    x1="953"
                    y1="1.5"
                    x2="4"
                    y2="1.5"
                    stroke="url(#paint7_linear)"
                    stroke-width="3"
                  />
                </g>
                <defs>
                  <filter
                    id="filter5_d"
                    x="0"
                    y="0"
                    width="957"
                    height="3"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow"
                      result="shape"
                    />
                  </filter>
                  <linearGradient
                    id="paint7_linear"
                    x1="953"
                    y1="-0.992664"
                    x2="4"
                    y2="-0.992794"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4B90F7" stop-opacity="0" />
                    <stop offset="0.148958" stop-color="#4B90F7" />
                    <stop offset="0.836458" stop-color="#4B90F7" />
                    <stop offset="1" stop-color="#4B90F7" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>
              <div class="phase-list">
                <% for(x in project_container.timeline) {%>
                <div class="phase-cont">
                  <svg width="24" class="phase-svg" height="35" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12.5" cy="10.5" r="10.5" fill="#020F22"/>
                    <circle cx="12.5" cy="10.5" r="5.5" transform="rotate(180 12.5 10.5)" stroke="white" stroke-width="2"/>
                    <path d="M2 18L12.5 31L22 18.4062" stroke="white" stroke-width="4" stroke-linecap="round"/>
                    </svg>  
                  <div class="phase-title"><%= project_container.timeline[x].PRO_TIM_Title %></div>
                  <div class="phase-desc">
                    <%= project_container.timeline[x].PRO_TIM_Description %>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <% }%>

          <% if (Object.keys(container['reviews']).length > 0) { %>
          <div class="review-cont">
            <div class="left-title">
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="18" cy="18" r="18" fill="#020F22" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.3561 14.064C14.2548 14.3774 13.9641 14.5896 13.6362 14.5896H5.79189C5.05864 14.5896 4.75377 15.5324 5.34698 15.9654L11.6932 20.5983C11.9585 20.792 12.0695 21.1353 11.9681 21.4487L9.54411 28.9449C9.31752 29.6456 10.1157 30.2283 10.7089 29.7952L17.0551 25.1623C17.3204 24.9687 17.6796 24.9687 17.9449 25.1623L24.2911 29.7952C24.8843 30.2283 25.6825 29.6456 25.4559 28.9449L23.0319 21.4487C22.9305 21.1353 23.0415 20.792 23.3068 20.5983L29.653 15.9654C30.2462 15.5324 29.9414 14.5896 29.2081 14.5896H21.3638C21.0359 14.5896 20.7452 14.3774 20.6439 14.064L18.2199 6.56779C17.9933 5.86708 17.0067 5.86708 16.7801 6.56779L14.3561 14.064ZM23.0136 11.5473L21.0994 5.62768C19.9665 2.12409 15.0335 2.12412 13.9006 5.62769L11.9864 11.5473H5.79189C2.12561 11.5473 0.601271 16.2613 3.56734 18.4267L8.57879 22.0852L6.66459 28.0048C5.53164 31.5084 9.52249 34.4218 12.4886 32.2565L17.5 28.598L22.5114 32.2565C25.4775 34.4218 29.4683 31.5084 28.3354 28.0048L26.4212 22.0852L31.4327 18.4267C34.3987 16.2613 32.8744 11.5473 29.2081 11.5473H23.0136Z"
                  fill="white"
                />
              </svg>
              &nbsp; Reviews
            </div>
            <div class="review-list">
              <div>
              <% for(x in project_container.reviews) {%>
              <div class="review-instance">
                <div class="review-head">
                  <img onerror="this.onerror=null;this.src='../assets/img placeholder.svg';" class="review-avatar" src="<%=project_container.reviews[x].EXP_Profile_Picture %>" />
                  <div class="reviewer-cont">
                    <div class="review-title"><%=project_container.reviews[x].REV_Title %></div>
                    <div class="reviewer" style="font-family: sans-serif">

                      <span style="filter: hue-rotate(<%= (project_container.reviews[x].REV_Rating) * 30 %>deg) saturate(1.3) brightness(1.2);"><%= project_container.project.PRO_Rate %>

                        <% for(i = 0; i < project_container.reviews[x].REV_Rating; i++) {%>
                          <svg height="15pt" viewBox="0 -10 511.98685 511" width="15pt" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" fill="#ff5147"/></svg>
                        <% } %>
      
                          <% for(i = 5 - project_container.reviews[x].REV_Rating; i > 0; i--) {%>
                            <svg height="15pt" viewBox="0 -10 511.98685 511" width="15pt" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" fill="none" stroke="#ff5147" stroke-width="40px"/></svg>
                          <% }%>

                      <span
                        >| by:
                        <a href="" style="color: #66a3ff"><%=project_container.reviews[x].EXP_Fname %> <%=project_container.reviews[x].EXP_Lname %></a></span
                      >
                    </div>
                  </div>
                  <div class="review-date"><%=project_container.reviews[x].REV_Date %></div>
                </div>
                <div>
                  <div class="review-tail">
                    <%=project_container.reviews[x].REV_Description %>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            </div>
          </div>
          <% }%>
        </div>
      </div>
    </div>
    <script>
      let project = {
        PRO_Name: "C.A.T.S: Crash Arena Turbo Stars",
        PRO_Start_Date: "Dec2019", 
        PRO_End_Date: "Jan2020",
        PRO_Description: "gwagwagwawgnlganla awajab,va anwavk",
        PRO_Rate: "4",
        PRO_Thumbnail: "", 
      }
    </script>
  </body>
